/* in plugins page (/wp-admin/plugins.php) */
.plugins-php
/* in plugins table list */
#the-list
/* only elementor row */
[data-plugin="elementor/elementor.php"]
/* in title column */
.plugin-title
/* actions */
.row-actions {
    /* "Get Elementor Pro" element */
    .go_pro {
        display: none !important;
    }

    /* Remove "|" after "Deactivate" */

    /* "Deactivate" link wrapper */
    .deactivate {
        font-size: 0;
    }
    /* "Deactivate" link */
    #deactivate-elementor {
        font-size: 13px;
    }
}

/* in elementor menu on the sidebar */
.wp-submenu
/* the "Upgrade" element at the end of the menu */
li:has([href="admin.php?page=go_elementor_pro"]) {
    display: none !important;
}

/* In WordPress sidebar menu > "Elementor" > "Add-ons" */
.wp-submenu li:has([href='admin.php?page=elementor-apps']) {
    display: none !important;
}

/* In elementor settings pages > top header links - "Upgrade Now" button */
/* [href="https://go.elementor.com/wp-dash-admin-top-bar-upgrade/"] */
.e-admin-top-bar__bar-button:has(.eicon-upgrade-crown) {
    display: none !important;
}

/* In Elementor/Home page (/wp-admin/admin.php?page=elementor) */
.toplevel_page_elementor {
    /* Elementor pro ad on right side of the page */
    .MuiPaper-root:has([href="https://go.elementor.com/go-pro-home-sidebar-upgrade/"])
    {
        display: none !important;
    }

    /* Paid ad-ons content and link on bottom */
    .MuiPaper-root:has([href*='/wp-admin/admin.php?page=elementor-apps']) {
        display: none !important;
    }
}

/* In media upload page (/wp-admin/upload.php) */
.upload-php
/* "Generate with Elementor AI" link */
#e-image-ai-media-library {
    display: none !important;
}
