/* Header in "/wp-admin/admin.php?page=elementor" */
.e-admin-top-bar__heading {
    display: none !important;
}

#menu-posts-elementor_library .elementor-app-link,
a[href='edit.php?post_type=elementor_library&page=popup_templates'],
#menu-posts-elementor_library ul li:has(a[href*='/wp-admin/admin.php?page=elementor-app']) {
    display: none !important;
}

#e-admin-top-bar-root a[href*='/wp-admin/admin.php?page=elementor-connect'] {
    display: none !important;
}

/* Big banner saying "Go Pro, Go Limitless" */
#ehe-admin-cb {
    display: none !important;
}

/* wp-admin/admin.php?page=elementor-element-manager */
.components-flex-item a[href="https://go.elementor.com/go-pro-advanced-element-manager-permissions/"] {
    display: none !important;
}
